body{
  font-family: 'Inter',sans-serif;
}

.Header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  height: 55px;
}

.Header > h1 {
  font-size: 18px;
  letter-spacing: -0.075em;
  font-weight: 500;
  color: black;
}

.CardImg{
  width: 268px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;
  gap: 7px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 10px;
}

.flex {
  padding: 10px;
}

.text > p {
  font-size: 12px;
  letter-spacing: 0.1em;
  max-width: 300px;
}

.text > h3 {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.17em;
  width: 150px;
}

.text > h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 14px;
  letter-spacing: 0.1em;
  max-width: 3000px;
}

.carrot{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.country {
  font-weight:normal;
  font-size: 12px;
  letter-spacing: 0.17em;
  margin-right: 12px;
  padding-left: 5px;
}

a{
  color: #918E9B;
  font-size: 12px;
}